html,
body {
    width: 100%;
    height: 100%;
}

#landing {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 50, 0.7),
    rgba(0, 0, 50, 0.7)),
    url(img/balloon-3.jpg) no-repeat center;
    background-size: cover;
}

.text-centering {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: lightgreen;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

#home img {
        width: 25%;
        height: 25%;
        margin: auto;
    }

@media(min-width:768px) {
    #home img {
        width: 75%;
        height: 75%;
    }
}

@media(min-width:992px) {
    #home img {
        width: 80%;
        height: 80%;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron {
    margin: auto;
    margin: 30px;
}
